{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
