@import 'src/styles/utils/_media.scss';

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  &__image {
    width: 55%;
  }
}

@media (max-width: $deviceWidth) {
  .social-media {
    flex-direction: row;
    width: 100vw;
    height: 7.5vh;
    min-height: 50px;
    padding: 0 0.5%;

    &__block {
      height: 85%;
    }
  }
}

@media (min-width: $deviceWidth) {
  .social-media {
    flex-direction: column;
    height: 100%;
    width: 3vw;
    min-width: 50px;
    padding: 0.5% 0;
  }

  &__block {
    width: 85%;
  }
}
