@import 'src/styles/utils/_utils.scss';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  color: theme('textColor');
  font-family: 'Fira Code';
  width: 350px;

  &__route {
    cursor: pointer;

    &:hover {
      border-top: 1.25px solid theme('textColor');
      border-bottom: 1.25px solid theme('textColor');
    }
  }

  &__seperator,
  &__route {
    color: theme('textColor');
  }

  &__seperator,
  &__opening {
    margin: 0 1.1ch;
  }
}
